In [1]:
import pandas as pd

In [21]:
qualtrics_data = pd.read_excel("Qualtrics_All countries.xlsx")
qualtrics_data.head()

,Response ID,Start Date,End Date,List of Countries,How old are you?,What is your biological sex?,What is your highest education level?,How much do you think you know about AI? - Answer:,"In general, how much would you like to use AI to solve practical issues? - Answer:","Under the circumstance that conversational AI (e.g. chatbot, virtual agent) can provide you immediate customer service and accurate solutions, how much are you willing to use this AI? - Answer:","Imaging you have a chronical illness, how much are you willing to share your data (including medical records) with healthcare AI via sensors and software to monitor your health at home? - Answer:","Under the circumstance that self-driving AI technology has passed all the qualification tests, how comfortable are you to sit in a self-driving car? - Answer:","Under the circumstance that contract AI can generate high-quality legal contracts, how much are you willing to sign on an AI generated legal contract initiated by your counterparty? - Answer"
0,R_61tMjpSukwpRgjv,2024-01-11 16:33:00,2024-01-11 16:35:00,Netherlands,45-54 years old,Male,Bachelor’s or the equivalent,7,3,3,3,1,1
1,R_7HSxjZ2GexkiV3i,2024-01-11 17:32:00,2024-01-11 17:38:00,Germany,45-54 years old,Male,"High school graduate, diploma or the equivalent",7,6,3,5,1,7
2,R_3isziSLBLfJfQkd,2024-01-11 18:06:00,2024-01-11 18:08:00,Netherlands,25-34 years old,Female,Master’s or the equivalent,3,2,2,1,3,1
3,R_62FJuIqlKapBFak,2024-01-11 18:42:00,2024-01-11 18:43:00,Ireland,25-34 years old,Female,Bachelor’s or the equivalent,3,3,3,5,1,1
4,R_5cq02wjdQ1kiKF1,2024-01-11 19:32:00,2024-01-11 19:35:00,Netherlands,25-34 years old,Male,Bachelor’s or the equivalent,5,3,3,2,3,3

In [22]:
qualtrics_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 13 columns):
 #   Column                                                                                                                                                                                               Non-Null Count  Dtype
---  ------                                                                                                                                                                                               --------------  -----
 0   Response ID                                                                                                                                                                                          70 non-null     object
 1   Start Date                                                                                                                                                                                           70 non-null     datetime64[ns]
 2   End Date                                                                                                                                                                                             70 non-null     datetime64[ns]
 3   List of Countries                                                                                                                                                                                    70 non-null     object
 4   How old are you?                                                                                                                                                                                     70 non-null     object
 5   What is your biological sex?                                                                                                                                                                         70 non-null     object
 6   What is your highest education level?                                                                                                                                                                70 non-null     object
 7   How much do you think you know about AI? - Answer:                                                                                                                                                   70 non-null     int64
 8   In general, how much would you like to use AI to solve practical issues? - Answer:                                                                                                                   70 non-null     int64
 9   Under the circumstance that conversational AI (e.g. chatbot, virtual agent) can provide you immediate customer service and accurate solutions, how much are you willing to use this AI? - Answer:    70 non-null     int64
 10  Imaging you have a chronical illness, how much are you willing to share your data (including medical records) with healthcare AI via sensors and software to monitor your health at home? - Answer:  70 non-null     int64
 11  Under the circumstance that self-driving AI technology has passed all the qualification tests, how comfortable are you to sit in a self-driving car? - Answer:                                       70 non-null     int64
 12  Under the circumstance that contract AI can generate high-quality legal contracts, how much are you willing to sign on an AI generated legal contract initiated by your counterparty? - Answer       70 non-null     int64
dtypes: datetime64[ns](2), int64(6), object(5)
memory usage: 7.2+ KB

In [23]:
surveymonkey_data = pd.read_excel('SurveyMonkey_America.xlsx')
surveymonkey_data.head()

,Respondent ID,Start Date,End Date,In which country do you currently reside?,How old are you?,What is your biological sex?,What is your highest education level?,How much do you think you know about AI?,"In general, how much would you like to use AI to solve practical issues?","Under the circumstance that conversational AI (e.g. chatbot, virtual agent) can provide you immediate customer service and accurate solutions, how much are you willing to use this AI?","Imaging you have a chronical illness, how much are you willing to share your data (including medical records) with healthcare AI via sensors and software to monitor your health at home?","Under the circumstance that self-driving AI technology has passed all the qualification tests, how comfortable are you to sit in a self-driving car?","Under the circumstance that contract AI can generate high-quality legal contracts, how willing are you to sign on an AI generated legal contract initiated by your counterparty?"
0,114508000000,2024-01-15 23:12:20,2024-01-15 23:16:00,United States of America,25-34 years old,Female,Bachelor’s or the equivalent,57,77,71,41,26,39
1,114508000000,2024-01-15 23:12:17,2024-01-15 23:15:53,United States of America,55-64 years old,Female,"High school graduate, diploma or the equivalent",35,45,80,100,12,40
2,114508000000,2024-01-15 23:11:47,2024-01-15 23:15:39,United States of America,35-44 years old,Male,Doctoral or the equivalent,11,26,20,51,19,20
3,114508000000,2024-01-15 23:11:29,2024-01-15 23:15:35,United States of America,55-64 years old,Male,"High school graduate, diploma or the equivalent",11,17,58,60,12,22
4,114508000000,2024-01-15 23:12:35,2024-01-15 23:15:17,United States of America,45-54 years old,Female,Bachelor’s or the equivalent,40,40,40,50,10,20

In [24]:
surveymonkey_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 13 columns):
 #   Column                                                                                                                                                                                     Non-Null Count  Dtype
---  ------                                                                                                                                                                                     --------------  -----
 0   Respondent ID                                                                                                                                                                              92 non-null     int64
 1   Start Date                                                                                                                                                                                 92 non-null     datetime64[ns]
 2   End Date                                                                                                                                                                                   92 non-null     datetime64[ns]
 3   In which country do you currently reside?                                                                                                                                                  92 non-null     object
 4   How old are you?                                                                                                                                                                           92 non-null     object
 5   What is your biological sex?                                                                                                                                                               92 non-null     object
 6   What is your highest education level?                                                                                                                                                      92 non-null     object
 7   How much do you think you know about AI?                                                                                                                                                   92 non-null     int64
 8   In general, how much would you like to use AI to solve practical issues?                                                                                                                   92 non-null     int64
 9   Under the circumstance that conversational AI (e.g. chatbot, virtual agent) can provide you immediate customer service and accurate solutions, how much are you willing to use this AI?    92 non-null     int64
 10  Imaging you have a chronical illness, how much are you willing to share your data (including medical records) with healthcare AI via sensors and software to monitor your health at home?  92 non-null     int64
 11  Under the circumstance that self-driving AI technology has passed all the qualification tests, how comfortable are you to sit in a self-driving car?                                       92 non-null     int64
 12  Under the circumstance that contract AI can generate high-quality legal contracts, how willing are you to sign on an AI generated legal contract initiated by your counterparty?           92 non-null     int64
dtypes: datetime64[ns](2), int64(7), object(4)
memory usage: 9.5+ KB

In [25]:
#All the data types for the columns are the same for both dataframe. 
#There are no missing values from either dataframe benefiting from the survey design.
# However, the scale of the rating from Survey Monkey is 10 times bigger than the one from Qualtrics and the starting point is 0.
#Therefore, the rating values from Qualtrics and SurveyMoney need to be unified
# Before doing the scale change, the names of the dataframe need to be adjusted for the practical use as the names are too long
column_name = ['id', 'start_time', 'end_time', 'country', 'age', 'sex', 'education', 'knowledge', 'general', 'customer_relationship', 'healthcare', 'self_driving_tech', 'law_firm']
# Use a dictionary to map the old column names to the new ones
column_name_mapping = dict(zip(qualtrics_data.columns, column_name))
qualtrics_data.rename(columns=column_name_mapping, inplace=True)
qualtrics_data.head()

,id,start_time,end_time,country,age,sex,education,knowledge,general,customer_relationship,healthcare,self_driving_tech,law_firm
0,R_61tMjpSukwpRgjv,2024-01-11 16:33:00,2024-01-11 16:35:00,Netherlands,45-54 years old,Male,Bachelor’s or the equivalent,7,3,3,3,1,1
1,R_7HSxjZ2GexkiV3i,2024-01-11 17:32:00,2024-01-11 17:38:00,Germany,45-54 years old,Male,"High school graduate, diploma or the equivalent",7,6,3,5,1,7
2,R_3isziSLBLfJfQkd,2024-01-11 18:06:00,2024-01-11 18:08:00,Netherlands,25-34 years old,Female,Master’s or the equivalent,3,2,2,1,3,1
3,R_62FJuIqlKapBFak,2024-01-11 18:42:00,2024-01-11 18:43:00,Ireland,25-34 years old,Female,Bachelor’s or the equivalent,3,3,3,5,1,1
4,R_5cq02wjdQ1kiKF1,2024-01-11 19:32:00,2024-01-11 19:35:00,Netherlands,25-34 years old,Male,Bachelor’s or the equivalent,5,3,3,2,3,3

In [26]:
#Same renaming needs to be done on surveymonkey_data
column_name_mapping = dict(zip(surveymonkey_data.columns, column_name))
surveymonkey_data.rename(columns=column_name_mapping, inplace=True)
surveymonkey_data.head()

,id,start_time,end_time,country,age,sex,education,knowledge,general,customer_relationship,healthcare,self_driving_tech,law_firm
0,114508000000,2024-01-15 23:12:20,2024-01-15 23:16:00,United States of America,25-34 years old,Female,Bachelor’s or the equivalent,57,77,71,41,26,39
1,114508000000,2024-01-15 23:12:17,2024-01-15 23:15:53,United States of America,55-64 years old,Female,"High school graduate, diploma or the equivalent",35,45,80,100,12,40
2,114508000000,2024-01-15 23:11:47,2024-01-15 23:15:39,United States of America,35-44 years old,Male,Doctoral or the equivalent,11,26,20,51,19,20
3,114508000000,2024-01-15 23:11:29,2024-01-15 23:15:35,United States of America,55-64 years old,Male,"High school graduate, diploma or the equivalent",11,17,58,60,12,22
4,114508000000,2024-01-15 23:12:35,2024-01-15 23:15:17,United States of America,45-54 years old,Female,Bachelor’s or the equivalent,40,40,40,50,10,20

In [27]:
columns_to_apply =['knowledge', 'general', 'customer_relationship', 'healthcare', 'self_driving_tech', 'law_firm']

In [28]:
# First multiply the numerical columns by 10 in qualtrics_data
qualtrics_data[columns_to_apply] = qualtrics_data[columns_to_apply]*10

In [29]:
qualtrics_data.head()

,id,start_time,end_time,country,age,sex,education,knowledge,general,customer_relationship,healthcare,self_driving_tech,law_firm
0,R_61tMjpSukwpRgjv,2024-01-11 16:33:00,2024-01-11 16:35:00,Netherlands,45-54 years old,Male,Bachelor’s or the equivalent,70,30,30,30,10,10
1,R_7HSxjZ2GexkiV3i,2024-01-11 17:32:00,2024-01-11 17:38:00,Germany,45-54 years old,Male,"High school graduate, diploma or the equivalent",70,60,30,50,10,70
2,R_3isziSLBLfJfQkd,2024-01-11 18:06:00,2024-01-11 18:08:00,Netherlands,25-34 years old,Female,Master’s or the equivalent,30,20,20,10,30,10
3,R_62FJuIqlKapBFak,2024-01-11 18:42:00,2024-01-11 18:43:00,Ireland,25-34 years old,Female,Bachelor’s or the equivalent,30,30,30,50,10,10
4,R_5cq02wjdQ1kiKF1,2024-01-11 19:32:00,2024-01-11 19:35:00,Netherlands,25-34 years old,Male,Bachelor’s or the equivalent,50,30,30,20,30,30

In [11]:
# Define the min_valuea function to transform the min data in surveymondy_data into 10
def min_value(value):
    if value <= 10:
        return 10
    else:
        return value

In [12]:
surveymonkey_data[columns_to_apply] = surveymonkey_data[columns_to_apply].applymap(min_value)

In [13]:
survey_data = pd.concat([qualtrics_data, surveymonkey_data])

In [14]:
survey_data.describe()

,knowledge,general,customer_relationship,healthcare,self_driving_tech,law_firm
count,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000
mean,48.586420,51.086420,53.703704,48.290123,44.141975,43.530864
std,23.513877,27.660631,28.785108,28.358767,28.908695,26.935205
min,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
25%,30.000000,30.000000,29.250000,22.000000,10.250000,15.500000
50%,50.000000,50.000000,55.500000,50.000000,40.000000,40.000000
75%,65.750000,71.500000,80.000000,70.000000,65.250000,60.000000
max,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

In [17]:
#We change the education into shorter words

# Define a mapping of current values to new values
value_mapping = {"Bachelor’s or the equivalent": 'Bachelor', "Master’s or the equivalent": "Master", "High school graduate, diploma or the equivalent": 'High school', 'Doctoral or the equivalent': 'Doctor', 'Higher than Doctoral': 'Above Doctor'}

# Replace the values in the 'education' column
survey_data['education'] = survey_data['education'].replace(value_mapping)

survey_data['education'].value_counts()

Bachelor        65
Master          44
High school     43
Doctor           6
Above Doctor     4
Name: education, dtype: int64

In [19]:
#Since there are not many Doctor or Above Doctor, we combine the two together
survey_data['education'] = survey_data['education'].replace({'Doctor': 'Doctor and above', 'Above Doctor': 'Doctor and above'})
survey_data['education'].value_counts()

Bachelor            65
Master              44
High school         43
Doctor and above    10
Name: education, dtype: int64

In [ ]:
# Save the dataset into a csv file
#survey_data.to_csv('cleaned_survey_data.csv',index=False)

In [20]:
# Because the csv file cannot be completely interpriated by Tableau public, here I save it to excel file again
survey_data.to_excel('cleaned_survey_data.xlsx',index=False)